raspberrypi/flows_SistemaHidroponico.json
[{"id":"49b8f24f.9ccb1c","type":"tab","label":"SistemaHidroponico","disabled":false,"info":""},{"id":"aa8fd2fb.d983f","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-air-temp","topic":"/modulo1/nft/sensorAirTemp","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":140,"y":3740,"wires":[["cef77e27.bb777","1d31c7a4.0ae928","b44655ac.655868","5af69061.7361d","4b05a69c.4ae358"]]},{"id":"dd55f2b1.2907a","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":5,"width":4,"height":3,"gtype":"gage","title":"Air Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#ff3636","#219900","#ff3636"],"seg1":"30","seg2":"92","x":430,"y":3940,"wires":[]},{"id":"7c6d7f1d.47047","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-air-humidity","topic":"/modulo1/nft/sensorAirHumidity","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":130,"y":3980,"wires":[["dd55f2b1.2907a","1ea9e9cf.9c04f6","68b3bc66.0441c4","1444dbd1.1293a4"]]},{"id":"ad4ef58.cd90008","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"NFT Sensor","tooltip":"","group":"4d5ceb4d.1d1184","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/estadoNftSensorSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":330,"y":40,"wires":[["31209d78.7dd212","6bb82ee4.aad3","e3f84833.ef4468","5db12bfd.9ffdb4"]]},{"id":"cef77e27.bb777","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":6,"width":4,"height":3,"gtype":"gage","title":"Air Temp","label":"","format":"{{value}} °C","min":0,"max":"40","colors":["#ff3636","#00b500","#ca3838"],"seg1":"14","seg2":"30","x":440,"y":3740,"wires":[]},{"id":"efefe9ec.d38798","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado PostAlmacigo envio a Esp32","topic":"/modulo1/post-almacigo/estadoPostAlmacigo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":710,"y":840,"wires":[]},{"id":"48a9051d.1a4cac","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"PostAlmacigo","tooltip":"","group":"4d5ceb4d.1d1184","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/post-almacigo/estadoPostAlmacigoSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":340,"y":840,"wires":[["efefe9ec.d38798","dc3b8de6.858f8","4a01ab30.2efc24"]]},{"id":"a1f8c01c.8ee28","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"Alumbrado envio a esp32","topic":"/modulo1/nft/actuadorAlumbrado","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":770,"y":1760,"wires":[]},{"id":"85ce9397.e0f92","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Alumbrado","tooltip":"","group":"9c04d4b0.b8d7e8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/actuadorAlumbradoSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":430,"y":1760,"wires":[["a1f8c01c.8ee28","205bbc86.be7ef4","5a9bb2fa.90840c"]]},{"id":"d9dc2da3.145c8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"Bomba Almacigo Manual envio a esp32","topic":"/modulo1/almacigo/actuadorBombaAlmacigo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":820,"y":1600,"wires":[]},{"id":"1dfcdc9f.820b93","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Bomba Almacigo","tooltip":"","group":"9c04d4b0.b8d7e8","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/almacigo/actuadorBombaAlmacigoSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":430,"y":1600,"wires":[["d9dc2da3.145c8","3b087a66.087fb6","68a9f759.58a238"]]},{"id":"c4e09a01.bb31b8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"Bomba Post Almacigo Manual envio a esp32","topic":"/modulo1/post-almacigo/actuadorBombaPostAlmacigo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":810,"y":1420,"wires":[]},{"id":"e3d57c75.aed72","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Bomba PostAlmacigo","tooltip":"","group":"9c04d4b0.b8d7e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/post-almacigo/actuadorBombaPostAlmacigoSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":440,"y":1420,"wires":[["c4e09a01.bb31b8","7b274168.a4edc","c69e49ec.3fe268"]]},{"id":"7770b0a1.131a3","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"bomba nft envia a esp32","topic":"/modulo1/nft/actuadorBombaNft","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":770,"y":1940,"wires":[]},{"id":"2c2652d.cd04fae","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Bomba NFT","tooltip":"","group":"9c04d4b0.b8d7e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/actuadorBombaNftSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":430,"y":1940,"wires":[["7770b0a1.131a3","97a9034a.9d5fa","dbc28378.0c411"]]},{"id":"c892ea8c.7cb648","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"envio dato a esp32 de valvula solenoide","topic":"/modulo1/nft/actuadorValvulaSolenoide","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":780,"y":2140,"wires":[]},{"id":"2456c554.90c35a","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Valvula solenoide","tooltip":"","group":"9c04d4b0.b8d7e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/actuadorValvulaSolenoideSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":430,"y":2140,"wires":[["c892ea8c.7cb648","5909b932.a65b28","37a96887.b06bc8"]]},{"id":"3791cd90.6b7de2","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-level-rotoplas","topic":"/modulo1/nft/sensorWaterLevelRotoplas","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":160,"y":2420,"wires":[["3dd4d991.a317f6","e1972da2.9fa2a"]]},{"id":"3dd4d991.a317f6","type":"ui_level","z":"49b8f24f.9ccb1c","group":"4643897b.55e1f8","order":4,"width":4,"height":6,"name":"","label":"Water Level","colorHi":"#00b500","colorWarn":"#ff9900","colorNormal":"#ff3636","colorOff":"#595959","min":0,"max":"100","segWarn":"25","segHigh":"85","unit":"Litro","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":"2","colorschema":"fixed","textoptions":"custom","colorText":"#111ce8","fontLabel":"0.8","fontValue":"1.4","fontSmall":"1.2","colorFromTheme":true,"textAnimations":true,"hideValue":false,"tickmode":"auto","peakmode":false,"peaktime":3000,"x":410,"y":2400,"wires":[]},{"id":"5acaf99.03c0608","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":7,"width":4,"height":3,"gtype":"gage","title":"Seedling Humidity","label":"","format":"{{value}}%","min":0,"max":"100","colors":["#ff3636","#00b500","#ff3636"],"seg1":"30","seg2":"92","x":450,"y":4140,"wires":[]},{"id":"f35ba43c.083ae8","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-seedling-Humidity","topic":"/modulo1/almacigo/sensorSeedlingHumidity","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":150,"y":4160,"wires":[["5acaf99.03c0608","f30e5fab.4589f","22506cee.875394","f1dae088.40874","8bd0ffa2.ce12"]]},{"id":"3c8cbafa.b41586","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-ph","topic":"/modulo1/nft/sensorWaterPh","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":120,"y":2600,"wires":[["894ede43.1cef6"]]},{"id":"341bf8e.1ffde08","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-ce","topic":"/modulo1/nft/sensorWaterEc","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":120,"y":2820,"wires":[[]]},{"id":"8b710f59.6dd8b","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":1,"width":4,"height":3,"gtype":"gage","title":"Water pH","label":"","format":"{{value}} pH","min":0,"max":"14","colors":["#ff3636","#12811b","#ff3636"],"seg1":"5","seg2":"7","x":420,"y":2620,"wires":[]},{"id":"28c849bc.bdf3e6","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":2,"width":4,"height":3,"gtype":"gage","title":"Water CE","label":"","format":"{{value}} mS/cm","min":0,"max":"20","colors":["#ff3604","#10b904","#ff3636"],"seg1":"1.5","seg2":"3","x":420,"y":2820,"wires":[]},{"id":"12539f82.954d9","type":"comment","z":"49b8f24f.9ccb1c","name":"envio de datos al ESP32","info":"","x":730,"y":20,"wires":[]},{"id":"18ba159b.3650ea","type":"comment","z":"49b8f24f.9ccb1c","name":"Grafica de sensores - input data","info":"","x":510,"y":2320,"wires":[]},{"id":"6437c10d.fb121","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-temp","topic":"/modulo1/nft/sensorWaterTemp","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":130,"y":3040,"wires":[["44d3e995.757c38","fd48a185.6b032","13fde0e9.d2713f","52e7a73e.683ba8"]]},{"id":"44d3e995.757c38","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":3,"width":4,"height":3,"gtype":"gage","title":"Water Temp","label":"","format":"{{value}} °C","min":0,"max":"40","colors":["#ff3636","#e6e600","#ff3636"],"seg1":"15","seg2":"28","x":430,"y":3020,"wires":[]},{"id":"a19e39.71d021c8","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-flow","topic":"/modulo1/nft/sensorWaterFlow","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":150,"y":3520,"wires":[["f4d0dfa.b4de62","141237ef.1846f8","7b26dcfb.798204","452d7f7c.98d11"]]},{"id":"f4d0dfa.b4de62","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":8,"width":4,"height":3,"gtype":"gage","title":"Water Flow","label":"","format":"{{value}} L/min","min":0,"max":"16","colors":["#ff3636","#00e650","#ff3636"],"seg1":"6","seg2":"12","x":450,"y":3520,"wires":[]},{"id":"e1972da2.9fa2a","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water level rotoplas","topic":"/modulo1/nft/sensorWaterLevelRotoplas","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":480,"y":2440,"wires":[]},{"id":"5c9b01ec.e667c","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water ph","topic":"/modulo1/nft/sensorWaterPh","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":440,"y":2660,"wires":[]},{"id":"9506992e.c3ab08","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water ce","topic":"/modulo1/nft/sensorWaterEc","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":440,"y":2860,"wires":[]},{"id":"fd48a185.6b032","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water temp","topic":"/modulo1/nft/sensorWaterTemp","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":450,"y":3060,"wires":[]},{"id":"141237ef.1846f8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water flow","topic":"/modulo1/nft/sensorWaterFlow","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":470,"y":3560,"wires":[]},{"id":"1d31c7a4.0ae928","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor air temp","topic":"/modulo1/nft/sensorAirTemp","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":460,"y":3780,"wires":[]},{"id":"1ea9e9cf.9c04f6","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor air humidity","topic":"/modulo1/nft/sensorAirHumidity","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":450,"y":3980,"wires":[]},{"id":"f30e5fab.4589f","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor seedling humidity","topic":"/modulo1/almacigo/sensorSeedlingHumidity","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":470,"y":4180,"wires":[]},{"id":"f87a7625.4e2208","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado almacigo enviarndo a ESP32","topic":"/modulo1/almacigo/estadoAlmacigo","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":710,"y":1020,"wires":[]},{"id":"c1c47547.49b828","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"Almacigo","tooltip":"","group":"4d5ceb4d.1d1184","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/almacigo/estadoAlmacigoSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":340,"y":1020,"wires":[["f87a7625.4e2208","93973c6a.e1cdf","9e5e0d74.fe584"]]},{"id":"d8338e5c.0eaa8","type":"function","z":"49b8f24f.9ccb1c","name":"AirHumidityLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Air Humidity \" + valor + \"%\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":4000,"wires":[["f61acac7.a7e1f8"]]},{"id":"f61acac7.a7e1f8","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":4000,"wires":[[]]},{"id":"a53bfb91.38c528","type":"function","z":"49b8f24f.9ccb1c","name":"AirHumidityEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Air Humidity \" + msg.payload + \"%\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":4040,"wires":[["66e9be38.7bd47"]]},{"id":"e7d9aba1.c16bc8","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 80 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 80 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":4000,"wires":[["d8338e5c.0eaa8","a53bfb91.38c528"]]},{"id":"e8025fd7.c7ad5","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 30 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 30 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":4040,"wires":[["d8338e5c.0eaa8","a53bfb91.38c528"]]},{"id":"68b3bc66.0441c4","type":"switch","z":"49b8f24f.9ccb1c","name":"Air Humidity","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"lte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":4040,"wires":[["e7d9aba1.c16bc8"],["e8025fd7.c7ad5"]]},{"id":"1b102592.ac5d4a","type":"function","z":"49b8f24f.9ccb1c","name":"AirTempLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Air Temp \" + valor + \"°C\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":3800,"wires":[["2c763d09.f67472"]]},{"id":"2c763d09.f67472","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":3800,"wires":[[]]},{"id":"9b5ccf58.da3c2","type":"function","z":"49b8f24f.9ccb1c","name":"AirTempEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Air Temp \" + msg.payload + \"°C\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":3840,"wires":[["7b097198.cca78"]]},{"id":"7b097198.cca78","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":3840,"wires":[]},{"id":"3449c1.c2da164","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 32 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 32 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3800,"wires":[["1b102592.ac5d4a","9b5ccf58.da3c2"]]},{"id":"627ee233.2550fc","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 15 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 15 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3840,"wires":[["1b102592.ac5d4a","9b5ccf58.da3c2"]]},{"id":"b44655ac.655868","type":"switch","z":"49b8f24f.9ccb1c","name":"Air Temp","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":3840,"wires":[["3449c1.c2da164"],["627ee233.2550fc"]]},{"id":"c64011f5.54a7f","type":"function","z":"49b8f24f.9ccb1c","name":"seedlingHumidityLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Seedling Humidity \" + valor + \"%\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":4220,"wires":[["c99c55d8.43f778"]]},{"id":"c99c55d8.43f778","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1050,"y":4220,"wires":[[]]},{"id":"75cec8f4.af4738","type":"function","z":"49b8f24f.9ccb1c","name":"seedlingHumidityEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Seedling Humidity \" + msg.payload + \"%\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":4260,"wires":[["cec35ee5.54789"]]},{"id":"cec35ee5.54789","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1050,"y":4260,"wires":[]},{"id":"7125df94.df028","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 80 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 80 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":4220,"wires":[["c64011f5.54a7f","75cec8f4.af4738"]]},{"id":"25a14b35.698a04","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 30 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 30 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":4260,"wires":[["c64011f5.54a7f","75cec8f4.af4738"]]},{"id":"22506cee.875394","type":"switch","z":"49b8f24f.9ccb1c","name":"Seedling Humidity","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"},{"t":"lte","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":4240,"wires":[["7125df94.df028"],["25a14b35.698a04"]]},{"id":"7723a7d0.4fe0f8","type":"function","z":"49b8f24f.9ccb1c","name":"WaterFlowLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Water Flow \" + valor + \"L/min\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3600,"wires":[["dfb73705.ac2058"]]},{"id":"dfb73705.ac2058","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":3600,"wires":[[]]},{"id":"b7f2663f.1552a8","type":"function","z":"49b8f24f.9ccb1c","name":"WaterFlowEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Water Flow \" + msg.payload + \"L/min\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3640,"wires":[["b1aeedb4.25621"]]},{"id":"b1aeedb4.25621","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":810,"y":3640,"wires":[]},{"id":"7b26dcfb.798204","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 3 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 3 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":3620,"wires":[["7723a7d0.4fe0f8","b7f2663f.1552a8"]]},{"id":"eba08fc1.f27c2","type":"function","z":"49b8f24f.9ccb1c","name":"WaterTempLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Water Temp\" + valor + \"°C\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":3100,"wires":[["65834212.a0185c"]]},{"id":"65834212.a0185c","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":3100,"wires":[[]]},{"id":"69d9d7d0.8ae048","type":"function","z":"49b8f24f.9ccb1c","name":"WaterTempEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Water Temp \" + msg.payload + \"°C\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":3140,"wires":[["bfdc0367.4d451"]]},{"id":"bfdc0367.4d451","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":3140,"wires":[]},{"id":"54125304.dbc6ac","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 28 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 28 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":3100,"wires":[["eba08fc1.f27c2","69d9d7d0.8ae048"]]},{"id":"339cb7b1.718788","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 15 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 15 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":3140,"wires":[["eba08fc1.f27c2","69d9d7d0.8ae048"]]},{"id":"13fde0e9.d2713f","type":"switch","z":"49b8f24f.9ccb1c","name":"Water Temp","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"lte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":3120,"wires":[["54125304.dbc6ac"],["339cb7b1.718788"]]},{"id":"5eb0075e.2ba908","type":"function","z":"49b8f24f.9ccb1c","name":"WaterCeLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Water EC\" + valor + \"mS/Cm\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":2900,"wires":[["4b1f49c5.6d4db8"]]},{"id":"4b1f49c5.6d4db8","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1030,"y":2900,"wires":[[]]},{"id":"2b89207d.213f2","type":"function","z":"49b8f24f.9ccb1c","name":"WaterCeEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Water CE \" + msg.payload + \"mS/Cm\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2940,"wires":[["ed0e911b.44833"]]},{"id":"ed0e911b.44833","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1030,"y":2940,"wires":[]},{"id":"43292b0c.1ac8f4","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 3 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 3 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2900,"wires":[["5eb0075e.2ba908","2b89207d.213f2"]]},{"id":"66ebd51.8c31c2c","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 1 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 1 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2940,"wires":[["5eb0075e.2ba908","2b89207d.213f2"]]},{"id":"76fdf467.fd833c","type":"switch","z":"49b8f24f.9ccb1c","name":"Water CE","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"1.5","vt":"num"},{"t":"lte","v":"1.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":2920,"wires":[["43292b0c.1ac8f4"],["66ebd51.8c31c2c"]]},{"id":"95e07ff8.09d91","type":"function","z":"49b8f24f.9ccb1c","name":"WaterPhLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Water PH \" + valor + \"pH\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":2700,"wires":[["c1f3ac2a.17add"]]},{"id":"c1f3ac2a.17add","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1010,"y":2700,"wires":[[]]},{"id":"9a02799c.88fe78","type":"function","z":"49b8f24f.9ccb1c","name":"WaterPhEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Water PH \" + msg.payload + \"pH\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":2740,"wires":[["db3c3d01.c04e9"]]},{"id":"db3c3d01.c04e9","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":2740,"wires":[]},{"id":"8b4aab95.5e5498","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 7 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 7 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2700,"wires":[["95e07ff8.09d91","9a02799c.88fe78"]]},{"id":"55e0020b.d798fc","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 5 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 5 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2740,"wires":[["95e07ff8.09d91","9a02799c.88fe78"]]},{"id":"f9b9824e.2ccfa","type":"switch","z":"49b8f24f.9ccb1c","name":"Water Ph","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5.5","vt":"num"},{"t":"lte","v":"5.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":2720,"wires":[["8b4aab95.5e5498"],["55e0020b.d798fc"]]},{"id":"aecf794d.f2bcf8","type":"function","z":"49b8f24f.9ccb1c","name":"WaterLevelRotoplasLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Water Level Rotoplas \" + valor + \"L\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":2480,"wires":[["5993d43b.11fcac"]]},{"id":"5993d43b.11fcac","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":1110,"y":2480,"wires":[[]]},{"id":"143691c7.c0577e","type":"function","z":"49b8f24f.9ccb1c","name":"WaterLevelRotoplasEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Water Level Rotoplas \" + msg.payload + \"L\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":2520,"wires":[["366b49e.8448ab6"]]},{"id":"366b49e.8448ab6","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1110,"y":2520,"wires":[]},{"id":"b32d439.bac2bc","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = false;\n    \nif (payload > 98 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 1;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 98 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 0;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2480,"wires":[["aecf794d.f2bcf8","143691c7.c0577e"]]},{"id":"47d3019.4e2bf","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"// air humidity\nvar payload = msg.payload;\nvar alarm_flag = context.get(\"alarm_flag\");\nif(typeof alarm_flag == \"undefined\" )\nalarm_flag = true;\n    \nif (payload > 40 && !alarm_flag){  //si alarm_flag no es verdad\n    alarm_flag = true;\n    msg.alarm = 2;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\nif (payload <= 40 && alarm_flag ){ \n    alarm_flag = false;\n    msg.alarm = 3;\n    context.set(\"alarm_flag\", alarm_flag);\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":2520,"wires":[["aecf794d.f2bcf8","143691c7.c0577e"]]},{"id":"2d974a46.83bc36","type":"switch","z":"49b8f24f.9ccb1c","name":"Water Level Rotoplas","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"lte","v":"50","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":2500,"wires":[["b32d439.bac2bc"],["47d3019.4e2bf"]]},{"id":"66a734ca.1254ec","type":"comment","z":"49b8f24f.9ccb1c","name":"40 lt minimo","info":"","x":710,"y":2620,"wires":[]},{"id":"66e9be38.7bd47","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1050,"y":4040,"wires":[]},{"id":"69540363.a0c5ac","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":3680,"wires":[]},{"id":"5af69061.7361d","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":640,"y":3740,"wires":[]},{"id":"f1dae088.40874","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":4240,"wires":[]},{"id":"93973c6a.e1cdf","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado almacigo Sub","topic":"/modulo1/almacigo/estadoAlmacigoSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":680,"y":1080,"wires":[]},{"id":"5a86636f.b396fc","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/almacigo/estadoAlmacigo","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":110,"y":1020,"wires":[["c1c47547.49b828"]]},{"id":"9e5e0d74.fe584","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO stateseedling (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1140,"wires":[["f4484c61.2c381"]]},{"id":"f4484c61.2c381","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":780,"y":1140,"wires":[["40846e55.e3b07"]]},{"id":"40846e55.e3b07","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":1140,"wires":[]},{"id":"4664a09e.afcaf","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":910,"y":1080,"wires":[]},{"id":"3b087a66.087fb6","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estodo manual Sub","topic":"/modulo1/almacigo/actuadorBombaAlmacigoSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":770,"y":1660,"wires":[]},{"id":"fe7cfdff.84165","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web","topic":"/modulo1/almacigo/actuadorBombaAlmacigo","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":170,"y":1600,"wires":[["1dfcdc9f.820b93"]]},{"id":"68a9f759.58a238","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO actbombseedling (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1700,"wires":[["2af5e579.16536a"]]},{"id":"2af5e579.16536a","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":900,"y":1700,"wires":[["487d4c14.fa80d4"]]},{"id":"487d4c14.fa80d4","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":1700,"wires":[]},{"id":"dc3b8de6.858f8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado post almacigo Sub","topic":"/modulo1/post-almacigo/estadoPostAlmacigoSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":690,"y":900,"wires":[]},{"id":"18636ff.ee5239","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/post-almacigo/estadoPostAlmacigo","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":110,"y":840,"wires":[["48a9051d.1a4cac"]]},{"id":"4a01ab30.2efc24","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO statepostseedling (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":960,"wires":[["89e45f85.3deaa"]]},{"id":"89e45f85.3deaa","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":780,"y":960,"wires":[["51041926.721498"]]},{"id":"51041926.721498","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":960,"wires":[]},{"id":"6f63b36f.97cf9c","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":970,"y":900,"wires":[]},{"id":"7b274168.a4edc","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado post almacigo Sub","topic":"/modulo1/post-almacigo/actuadorBombaPostAlmacigoSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":770,"y":1480,"wires":[]},{"id":"4bba5085.e91ed","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/post-almacigo/actuadorBombaPostAlmacigo","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":190,"y":1420,"wires":[["e3d57c75.aed72"]]},{"id":"c69e49ec.3fe268","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO actbombpostseedling (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1540,"wires":[["5a882efb.ccfd8"]]},{"id":"5a882efb.ccfd8","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":860,"y":1540,"wires":[["4c7400da.cc211"]]},{"id":"4c7400da.cc211","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":1540,"wires":[]},{"id":"11a4be0f.9f91c2","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":1050,"y":1480,"wires":[]},{"id":"205bbc86.be7ef4","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estodo AlumbradoSub","topic":"/modulo1/nft/actuadorAlumbradoSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":780,"y":1820,"wires":[]},{"id":"63592ad.1b78cd4","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web","topic":"/modulo1/nft/actuadorAlumbrado","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":170,"y":1760,"wires":[["85ce9397.e0f92"]]},{"id":"5a9bb2fa.90840c","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO actlighting (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1880,"wires":[["9c32a581.9d2478"]]},{"id":"9c32a581.9d2478","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":900,"y":1880,"wires":[["ce7ec611.e0e568"]]},{"id":"ce7ec611.e0e568","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":1880,"wires":[]},{"id":"92bfcd04.ebb4d","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado nft bomba envio a esp32","topic":"/modulo1/nft/estadoNftBomba","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":690,"y":240,"wires":[]},{"id":"5cab7ad.f76a984","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"NFT Bomba","tooltip":"","group":"4d5ceb4d.1d1184","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/estadoNftBombaSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":330,"y":240,"wires":[["92bfcd04.ebb4d","1b69c177.488b6f","8c90e2de.4f2a4"]]},{"id":"8bd0ffa2.ce12","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO seedlinghumidity (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":4100,"wires":[["87e55ad9.23d0c8"]]},{"id":"1851c9a6.f27a66","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":4100,"wires":[]},{"id":"6bf0ffaa.d29c6","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":620,"y":3680,"wires":[["69540363.a0c5ac"]]},{"id":"87e55ad9.23d0c8","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":670,"y":4100,"wires":[["1851c9a6.f27a66"]]},{"id":"78277936.7b9cc8","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-Buoy","topic":"/modulo1/nft/sensorBuoy","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":110,"y":4420,"wires":[["6dff494.e0fd2b8","a9ce08bb.4910b8","7be42135.d289e","4c081d26.abadd4","fde8ef73.a99a2"]]},{"id":"fde8ef73.a99a2","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor Buoy","topic":"/modulo1/nft/sensorBuoy","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":430,"y":4320,"wires":[]},{"id":"330e0d6e.50a5d2","type":"function","z":"49b8f24f.9ccb1c","name":"buoyLine","func":"msg.headers = {'Content-Type': 'application/x-www-form-urlencoded', 'Authorization': 'Bearer QdkiWvoJaJKiuV5KMxGqNpfoSWEWLOlTV2Z7JM8cpYo'};\nvar valor = msg.payload;\nvar contenido = \"Bouy  \" + valor + \"info\";  \nmsg.payload = {\"message\": contenido};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":4460,"wires":[["a29c44d9.52e728"]]},{"id":"a29c44d9.52e728","type":"http request","z":"49b8f24f.9ccb1c","name":"Line","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":4460,"wires":[[]]},{"id":"c94f44b1.f13c78","type":"function","z":"49b8f24f.9ccb1c","name":"buoyEmail","func":"var d = new Date();\n\ntitulo = \"Notificación de huertodeluz \" + d.toLocaleString();\nmensaje = \"Seedling Humidity \" + msg.payload + \"%\";\n\nmsg = {\n    payload : mensaje,\n    to: \"jhonutani11@gmail.com\",\n    topic: titulo,\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":4500,"wires":[["875675d9.832a58"]]},{"id":"875675d9.832a58","type":"e-mail","z":"49b8f24f.9ccb1c","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":910,"y":4500,"wires":[]},{"id":"6dff494.e0fd2b8","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":4480,"wires":[]},{"id":"fb7b781e.10fc58","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":4380,"wires":[]},{"id":"7df0bee8.d42dc","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":710,"y":4380,"wires":[["fb7b781e.10fc58"]]},{"id":"e4cba472.73c998","type":"ui_led","z":"49b8f24f.9ccb1c","group":"4643897b.55e1f8","order":12,"width":"3","height":1,"label":"Buoy","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":670,"y":4420,"wires":[]},{"id":"a9ce08bb.4910b8","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\n// ver que mensaje llega de esp32 para asignarlos\n\nif (valor == \"ON\"){  \n    msg.payload = true;\n    return msg ;\n}\nif (valor == \"OFF\") { \n    msg.payload = false;\n    return msg ;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":4420,"wires":[["e4cba472.73c998"]]},{"id":"1db0979b.730f58","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO buoy (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":4380,"wires":[["7df0bee8.d42dc"]]},{"id":"645502cb.40639c","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado nft sensor consulta envio a esp32","topic":"/modulo1/nft/estadoNftSensorConsulta","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":720,"y":400,"wires":[]},{"id":"219570ce.db163","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":" NFT Sensor Consulta","tooltip":"","group":"4d5ceb4d.1d1184","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/estadoNftSensorConsultationSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":360,"y":440,"wires":[["645502cb.40639c","60f024a9.754a8c","a7ada610.e39368","3a301115.5274ae"]]},{"id":"6647863f.521d58","type":"comment","z":"49b8f24f.9ccb1c","name":"si va los 2","info":"","x":100,"y":120,"wires":[]},{"id":"31209d78.7dd212","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado NFT sensor envio a Esp32","topic":"/modulo1/nft/estadoNftSensor","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":680,"y":60,"wires":[]},{"id":"6bb82ee4.aad3","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado sensor NFT Sub","topic":"/modulo1/nft/estadoNftSensorSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":690,"y":120,"wires":[]},{"id":"91a985a5.733698","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/nft/estadoNftSensor","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":130,"y":40,"wires":[["ad4ef58.cd90008"]]},{"id":"e3f84833.ef4468","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO statenftsensor (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":180,"wires":[["4c30727d.76dd7c"]]},{"id":"4c30727d.76dd7c","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":770,"y":180,"wires":[["367555a.5b0a6aa"]]},{"id":"367555a.5b0a6aa","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"888f7790.285e88","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":970,"y":120,"wires":[]},{"id":"1b69c177.488b6f","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado bomba NFT Sub","topic":"/modulo1/nft/estadoNftBombaSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":690,"y":300,"wires":[]},{"id":"f9148f3a.66b71","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/nft/estadoNftBomba","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":110,"y":240,"wires":[["5cab7ad.f76a984"]]},{"id":"8c90e2de.4f2a4","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO statenftbomb (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":360,"wires":[["2bf3f2bd.c3577e"]]},{"id":"2bf3f2bd.c3577e","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":750,"y":360,"wires":[["3909b33d.9cd80c"]]},{"id":"3909b33d.9cd80c","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":360,"wires":[]},{"id":"9d62d71f.93dcf8","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":970,"y":300,"wires":[]},{"id":"91d57ac6.af3988","type":"comment","z":"49b8f24f.9ccb1c","name":"van los 2","info":"","x":100,"y":300,"wires":[]},{"id":"60f024a9.754a8c","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado NFT sensor consulta Sub","topic":"/modulo1/nft/estadoNftSensorConsultationSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":720,"y":480,"wires":[]},{"id":"cf1875f2.a88fe8","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/nft/estadoNftSensorConsultation","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":110,"y":440,"wires":[["219570ce.db163"]]},{"id":"a7ada610.e39368","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO statenftsensorconsultation (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":540,"wires":[["a2b94394.768ec"]]},{"id":"a2b94394.768ec","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":750,"y":540,"wires":[["22828250.0a484e"]]},{"id":"22828250.0a484e","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":540,"wires":[]},{"id":"3f14237f.20313c","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":1010,"y":480,"wires":[]},{"id":"8018913b.9c65","type":"comment","z":"49b8f24f.9ccb1c","name":"si 2","info":"","x":70,"y":500,"wires":[]},{"id":"7be42135.d289e","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\n// ON = 0 = lleno\n// OFF = 1 = vacio \n// pero cambiamos al enviar ala base de datos \nif (valor == \"ON\"){  \n    msg.payload = \"lleno\";\n    return msg ;\n}\nif (valor == \"OFF\") { \n    msg.payload = \"vacio\";\n    return msg ;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":4460,"wires":[["330e0d6e.50a5d2","c94f44b1.f13c78"]]},{"id":"4c081d26.abadd4","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\n// ON = 0 = lleno\n// OFF = 1 = vacio \n// pero cambiamos al enviar ala base de datos \nif (valor == \"ON\"){  \n    msg.payload = 1;\n    return msg ;\n}\nif (valor == \"OFF\") { \n    msg.payload = 0;\n    return msg ;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":4380,"wires":[["1db0979b.730f58"]]},{"id":"1444dbd1.1293a4","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO airhr (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":3900,"wires":[["7f39f9ff.f71658"]]},{"id":"94c64a66.d7acf8","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":3900,"wires":[]},{"id":"7f39f9ff.f71658","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":650,"y":3900,"wires":[["94c64a66.d7acf8"]]},{"id":"4b05a69c.4ae358","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO airtemp (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":3680,"wires":[["6bf0ffaa.d29c6"]]},{"id":"606ff872.554e78","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":3480,"wires":[]},{"id":"98ac0404.7bacb8","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":610,"y":3480,"wires":[["606ff872.554e78"]]},{"id":"452d7f7c.98d11","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO waterflow (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":3480,"wires":[["98ac0404.7bacb8"]]},{"id":"198b92f4.8969fd","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":2980,"wires":[]},{"id":"d5b1c24c.883bd","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":590,"y":2980,"wires":[["198b92f4.8969fd"]]},{"id":"52e7a73e.683ba8","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO watertemp (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2980,"wires":[["d5b1c24c.883bd"]]},{"id":"3fca0f1b.69a47","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":2780,"wires":[]},{"id":"ae4f4344.3482d","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":590,"y":2780,"wires":[["3fca0f1b.69a47"]]},{"id":"c8972a1f.025608","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO ec (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2780,"wires":[["ae4f4344.3482d"]]},{"id":"13384161.9a7d4f","type":"comment","z":"49b8f24f.9ccb1c","name":"validar moodbuss sensor EC","info":"","x":140,"y":2780,"wires":[]},{"id":"24d7a3e0.998d2c","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":2580,"wires":[]},{"id":"c59f166d.7c26c8","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":590,"y":2580,"wires":[["24d7a3e0.998d2c"]]},{"id":"a6a9be90.1c4d9","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO ph (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":2580,"wires":[["c59f166d.7c26c8"]]},{"id":"ba4d1862.2a1058","type":"comment","z":"49b8f24f.9ccb1c","name":"analizar si guardamos los datos en bd","info":"","x":180,"y":2380,"wires":[]},{"id":"97a9034a.9d5fa","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado bomba NFT Sub","topic":"/modulo1/nft/actuadorBombaNftSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":790,"y":2000,"wires":[]},{"id":"f79fb1d0.ca99b","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web","topic":"/modulo1/nft/actuadorBombaNft","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":170,"y":1940,"wires":[["2c2652d.cd04fae"]]},{"id":"dbc28378.0c411","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO actbombnft (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":2060,"wires":[["10f7467a.43ce3a"]]},{"id":"10f7467a.43ce3a","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":900,"y":2060,"wires":[["68714f47.216e5"]]},{"id":"68714f47.216e5","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":2060,"wires":[]},{"id":"5909b932.a65b28","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado valvula solenoide NFT Sub","topic":"/modulo1/nft/actuadorValvulaSolenoideSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":800,"y":2200,"wires":[]},{"id":"2dd4e14e.87705e","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web","topic":"/modulo1/nft/actuadorValvulaSolenoide","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":150,"y":2140,"wires":[["2456c554.90c35a"]]},{"id":"37a96887.b06bc8","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO actsolenoidvalvenft (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2260,"wires":[["fdaf3fcf.a7c72"]]},{"id":"fdaf3fcf.a7c72","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":880,"y":2260,"wires":[["ed677f8b.6d2ae"]]},{"id":"ed677f8b.6d2ae","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":2260,"wires":[]},{"id":"130a1c7e.df7034","type":"comment","z":"49b8f24f.9ccb1c","name":"Estado Nivel de agua. para iniciar envio de datos. ver como actua con boya","info":"","x":340,"y":1200,"wires":[]},{"id":"1610a395.613a9c","type":"comment","z":"49b8f24f.9ccb1c","name":"verde lleno - rojo bacio","info":"","x":850,"y":4420,"wires":[]},{"id":"181395e7.737f8a","type":"comment","z":"49b8f24f.9ccb1c","name":"sensor humedad Consulta inmediata","info":"","x":1440,"y":4040,"wires":[]},{"id":"996c0378.d3c1e","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-ph-consultation","topic":"/modulo1/nft/sensorWaterPhConsultation","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":1320,"y":2700,"wires":[["98bac9af.a54da8"]]},{"id":"552f4d9b.7cbc84","type":"mqtt in","z":"49b8f24f.9ccb1c","d":true,"name":"in-sub-sensor-water-ce-consultation","topic":"/modulo1/nft/sensorWaterEcConsultation","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":1320,"y":2820,"wires":[[]]},{"id":"3e7a57e5.348408","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":10,"width":4,"height":3,"gtype":"gage","title":"Consult. Water pH","label":"","format":"{{value}} pH","min":0,"max":"14","colors":["#ff3636","#12811b","#ff3636"],"seg1":"5","seg2":"7","x":1810,"y":2660,"wires":[]},{"id":"e1505914.299d38","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":11,"width":4,"height":3,"gtype":"gage","title":"Consult. Water CE","label":"","format":"{{value}} mS/cm","min":0,"max":"20","colors":["#ff3604","#10b904","#ff3636"],"seg1":"1.5","seg2":"3","x":1950,"y":380,"wires":[]},{"id":"bda974c5.4881b8","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"in-sub-sensor-water-temp-consultation","topic":"/modulo1/nft/sensorWaterTempConsultation","qos":"2","datatype":"auto","broker":"d219350a.9aaa68","nl":false,"rap":false,"x":1330,"y":2960,"wires":[["26ecaef5.046e32","9132d6c5.4b96e8"]]},{"id":"26ecaef5.046e32","type":"ui_gauge","z":"49b8f24f.9ccb1c","name":"","group":"4643897b.55e1f8","order":9,"width":4,"height":3,"gtype":"gage","title":"Consult. Water Temp ","label":"","format":"{{value}} °C","min":0,"max":"40","colors":["#ff3636","#e6e600","#ff3636"],"seg1":"15","seg2":"28","x":1720,"y":2960,"wires":[]},{"id":"85f05c3d.e5a6e","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water ph consultation","topic":"/modulo1/nft/sensorWaterPhConsultation","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":1840,"y":2700,"wires":[]},{"id":"9132d6c5.4b96e8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor water temp consultation","topic":"/modulo1/nft/sensorWaterTempConsultation","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":1750,"y":3000,"wires":[]},{"id":"6a209c5f.504a44","type":"comment","z":"49b8f24f.9ccb1c","name":"validar moodbuss sensor EC","info":"","x":1300,"y":2780,"wires":[]},{"id":"b9242486.e11548","type":"comment","z":"49b8f24f.9ccb1c","name":"---------------------------Consulta inmediata-------------------------------","info":"","x":1510,"y":2560,"wires":[]},{"id":"f5a231b7.57bad","type":"comment","z":"49b8f24f.9ccb1c","name":"envia a web directamente","info":"","x":2090,"y":2660,"wires":[]},{"id":"cef1777f.8136d8","type":"link out","z":"49b8f24f.9ccb1c","name":"","links":["7f594b80.679fd4"],"x":915,"y":3200,"wires":[]},{"id":"c74c9be2.e55178","type":"ui_button","z":"49b8f24f.9ccb1c","name":"","group":"9c04d4b0.b8d7e8","order":9,"width":0,"height":0,"passthru":false,"label":"Llenar Agua","tooltip":"","color":"","bgcolor":"","icon":"","payload":"textInput","payloadType":"flow","topic":"","x":210,"y":3260,"wires":[["6f23a1dd.60e88","3dc987be.9c1d18","d1ef5d45.cd193","93a32ed2.c1637"]]},{"id":"46077ca0.2f2254","type":"ui_text_input","z":"49b8f24f.9ccb1c","name":"","label":"","tooltip":"","group":"9c04d4b0.b8d7e8","order":7,"width":0,"height":0,"passthru":true,"mode":"number","delay":"100","topic":"","x":190,"y":3200,"wires":[["2af39d53.9a4e42"]]},{"id":"6f23a1dd.60e88","type":"function","z":"49b8f24f.9ccb1c","name":"my function that does stuff","func":"msg.payload +=  \" Lt.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":3260,"wires":[["ecb2dd8b.3f75a"]]},{"id":"ecb2dd8b.3f75a","type":"ui_text","z":"49b8f24f.9ccb1c","group":"9c04d4b0.b8d7e8","order":8,"width":0,"height":0,"name":"","label":"Cantidad: ","format":"{{msg.payload}}","layout":"row-left","x":780,"y":3260,"wires":[]},{"id":"2af39d53.9a4e42","type":"change","z":"49b8f24f.9ccb1c","name":"","rules":[{"t":"set","p":"textInput","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":3200,"wires":[["46167564.cc0b0c"]]},{"id":"3dc987be.9c1d18","type":"debug","z":"49b8f24f.9ccb1c","name":"Button click debug node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":3300,"wires":[]},{"id":"46167564.cc0b0c","type":"switch","z":"49b8f24f.9ccb1c","name":"is text empty?","property":"textInput","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":3200,"wires":[["801f2bf8.01aa78"],["48ad411e.004c1"]]},{"id":"801f2bf8.01aa78","type":"change","z":"49b8f24f.9ccb1c","name":"enabled false","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3180,"wires":[["88071681.e22928"]]},{"id":"48ad411e.004c1","type":"change","z":"49b8f24f.9ccb1c","name":"enabled true","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":3220,"wires":[["88071681.e22928"]]},{"id":"88071681.e22928","type":"link out","z":"49b8f24f.9ccb1c","name":"","links":["7f594b80.679fd4"],"x":915,"y":3200,"wires":[]},{"id":"7f594b80.679fd4","type":"link in","z":"49b8f24f.9ccb1c","name":"","links":["88071681.e22928","cef1777f.8136d8"],"x":115,"y":3260,"wires":[["c74c9be2.e55178"]]},{"id":"f49bb807.96a0d8","type":"inject","z":"49b8f24f.9ccb1c","name":"Init with empty string","props":[{"p":"payload","v":"","vt":"str"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":140,"y":3160,"wires":[["46077ca0.2f2254"]]},{"id":"d1ef5d45.cd193","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"volumen de consumop de agua envio a esp32","topic":"/modulo1/nft/consumoAgua","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":580,"y":3300,"wires":[]},{"id":"b2459b5c.114fb8","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":3360,"wires":[]},{"id":"48cc4b8c.947614","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":630,"y":3360,"wires":[["b2459b5c.114fb8"]]},{"id":"93a32ed2.c1637","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\n\nmsg.topic=\"INSERT INTO waterconsumption (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":3360,"wires":[["48cc4b8c.947614"]]},{"id":"40e7eac7.55e424","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web valor agua","topic":"/modulo1/nft/consumoAgua","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":150,"y":3340,"wires":[["d1ef5d45.cd193","93a32ed2.c1637"]]},{"id":"8c7057fb.359488","type":"inject","z":"49b8f24f.9ccb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":0.1,"topic":"SI","payload":"SI","payloadType":"str","x":1010,"y":400,"wires":[["7a362a5d.851544","3a301115.5274ae"]]},{"id":"7a362a5d.851544","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":400,"wires":[]},{"id":"27adda5a.cb6086","type":"modbus-getter","z":"49b8f24f.9ccb1c","name":"modbusgetterConsultation","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","server":"d1f5f78c.b04e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1470,"y":380,"wires":[["bada6470.a09238"],[]]},{"id":"bada6470.a09238","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor2 = msg.payload;\nvar nuevoDato2;\nvar envioDato2;\n\n nuevoDato2 = valor2[1];\n envioDato2 = nuevoDato2 / 8200 ; //8500 \nmsg.payload  = Number.parseFloat(envioDato2).toFixed(2);\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1720,"y":380,"wires":[["e1505914.299d38","ab068992.281cd8","d8e9a98a.5eee68"]]},{"id":"3a301115.5274ae","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"context.node2 = context.node2 || \"R\";\ncontext.node3 = context.node3 || \"T\";\n\nif(msg.topic == \"SI\"){            // entrada de timer activador\n     context.node2 = msg.payload;\n}\nif (msg.topic == \"/modulo1/nft/estadoNftSensorConsultationSub\") { \n    context.node3 = msg.payload;\n} \n\nif(context.node2 == \"SI\" && context.node3 == \"ON\" ){ // la primera condicion\n    return {topic: '/modulo1/nft/sensorWaterCeConsultation', payload: true }\n    return msg;\n}else {\n     \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":460,"wires":[["27adda5a.cb6086","38641eb0.caa9d2"]]},{"id":"98bac9af.a54da8","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\nvar dato;\nvar resultado ;\n\ndato = valor - 2.2;\nresultado = Number.parseFloat(dato).toFixed(1);\n\nif(6.1 < resultado && resultado <= 6.5){\n    msg.payload = resultado;\n    return msg;\n} else {\n    msg.payload = \"6.4\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":2700,"wires":[["3e7a57e5.348408","8d1a0b9d.2b2258","85f05c3d.e5a6e"]]},{"id":"8d1a0b9d.2b2258","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1810,"y":2620,"wires":[]},{"id":"894ede43.1cef6","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\nvar dato;\nvar resultado ;\n\ndato = valor - 2.2;\nresultado = Number.parseFloat(dato).toFixed(1);\nmsg.payload = resultado;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":2640,"wires":[["a6a9be90.1c4d9","8b710f59.6dd8b","5c9b01ec.e667c","f9b9824e.2ccfa"]]},{"id":"7ef86dba.c0ce24","type":"inject","z":"49b8f24f.9ccb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 0-23 * * *","once":false,"onceDelay":0.1,"topic":"ON","payload":"ON","payloadType":"str","x":1000,"y":60,"wires":[["5db12bfd.9ffdb4"]]},{"id":"5db12bfd.9ffdb4","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"context.node = context.node || \"R\";\ncontext.node1 = context.node1 || \"T\";\n\nif(msg.topic == \"ON\"){            // entrada de timer activador\n     context.node = msg.payload;\n}\nif (msg.topic == \"/modulo1/nft/estadoNftSensorSub\") { \n    context.node1 = msg.payload;\n} \n\nif(context.node == \"ON\" && context.node1 == \"ON\" ){ // la primera condicion\n    return {topic: 'd', payload: true }\n    return msg;\n}else {\n     \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":20,"wires":[["d90abbf4.aecd48"]]},{"id":"d90abbf4.aecd48","type":"modbus-getter","z":"49b8f24f.9ccb1c","name":"modbusgetter","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"1","dataType":"HoldingRegister","adr":"0","quantity":"2","server":"d1f5f78c.b04e28","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":1480,"y":20,"wires":[["cb5fe69f.fd0a08"],[]]},{"id":"cb5fe69f.fd0a08","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var valor = msg.payload;\nvar nuevoDato;\nvar envioDato;\n\n nuevoDato = valor[1];\n envioDato = nuevoDato / 8200 ; //8500\nmsg.payload  = Number.parseFloat(envioDato).toFixed(2);\nreturn msg ;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":2860,"wires":[["c8972a1f.025608","28c849bc.bdf3e6","9506992e.c3ab08","76fdf467.fd833c"]]},{"id":"f0fc3e64.5dd54","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"estado nft water level envio a esp32","topic":"/modulo1/nft/estadoWaterLevel","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"d219350a.9aaa68","x":700,"y":620,"wires":[]},{"id":"5950fe55.7ed54","type":"ui_switch","z":"49b8f24f.9ccb1c","name":"","label":"NFT Water Level","tooltip":"","group":"4d5ceb4d.1d1184","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/modulo1/nft/estadoWaterLevelSub","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","x":350,"y":620,"wires":[["f0fc3e64.5dd54","d7a0ccfc.410f4","d4441909.360328"]]},{"id":"d7a0ccfc.410f4","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"salida estado water level nft Sub","topic":"/modulo1/nft/estadoWaterLevelSub","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":690,"y":680,"wires":[]},{"id":"8761de13.9bf6","type":"mqtt in","z":"49b8f24f.9ccb1c","name":"recibiendo de la web ","topic":"/modulo1/nft/estadoWaterLevel","qos":"2","datatype":"auto","broker":"46a13868.eee918","nl":false,"rap":false,"x":110,"y":620,"wires":[["5950fe55.7ed54"]]},{"id":"d4441909.360328","type":"function","z":"49b8f24f.9ccb1c","name":"","func":"var d = new Date();\n//fechaValor = d.toLocaleDateString(); // No es el formato\nvar minutoValor = d.toLocaleTimeString();\n\nvar dia = String(d.getDate()).padStart(2, '0');\nvar mess = String(d.getMonth() + 1).padStart(2, '0'); //January is 0!\nvar anno = d.getFullYear();\nvar fechaValor =  `${anno}-${mess}-${dia}`; \n\nvar valor = msg.payload;\n\nmsg.topic=\"INSERT INTO statenftwaterlevel (id, value, date_register, hour, module_id) VALUES (NULL, '\"+valor+\"', '\"+fechaValor+\"', '\"+minutoValor+\"', '1');\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":740,"wires":[["c190abf.6daef58"]]},{"id":"c190abf.6daef58","type":"mysql","z":"49b8f24f.9ccb1c","mydb":"5d8e5d18.c02234","name":"","x":750,"y":740,"wires":[["35feffdc.11018"]]},{"id":"35feffdc.11018","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":740,"wires":[]},{"id":"5e23f4d0.2a16ac","type":"comment","z":"49b8f24f.9ccb1c","name":"añadir a cloudMqtt","info":"","x":970,"y":680,"wires":[]},{"id":"6007a618.552a48","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 2","info":"","x":70,"y":680,"wires":[]},{"id":"a4be7159.c59a5","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 2","info":"","x":230,"y":1480,"wires":[]},{"id":"875bf808.ef2418","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 2","info":"","x":230,"y":2000,"wires":[]},{"id":"ba206bd3.9e11a8","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":270,"y":2480,"wires":[]},{"id":"4c3d52c6.bd107c","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":250,"y":2700,"wires":[]},{"id":"a092510b.2cffe","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":250,"y":2920,"wires":[]},{"id":"3a10bea0.46fa22","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":230,"y":3080,"wires":[]},{"id":"7a4a54fe.37abcc","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1  ok","info":"","x":140,"y":3400,"wires":[]},{"id":"313a4822.c8ad38","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":230,"y":3600,"wires":[]},{"id":"848a59a0.a16708","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":210,"y":3820,"wires":[]},{"id":"a2f05288.0e819","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":210,"y":4020,"wires":[]},{"id":"53ae7104.4a799","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":1610,"y":3080,"wires":[]},{"id":"e5b18539.455838","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":1510,"y":2860,"wires":[]},{"id":"5790451.d2b57bc","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 1","info":"","x":1490,"y":2640,"wires":[]},{"id":"6e149e81.f74fc","type":"comment","z":"49b8f24f.9ccb1c","name":"si los 2","info":"","x":350,"y":1820,"wires":[]},{"id":"ffef1556.e4adc8","type":"comment","z":"49b8f24f.9ccb1c","name":"no activo manual mente","info":"","x":160,"y":2200,"wires":[]},{"id":"ab068992.281cd8","type":"mqtt out","z":"49b8f24f.9ccb1c","name":"sensor ce water consultation","topic":"/modulo1/nft/sensorWaterCeConsultation","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"46a13868.eee918","x":1960,"y":320,"wires":[]},{"id":"d8e9a98a.5eee68","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1900,"y":260,"wires":[]},{"id":"38641eb0.caa9d2","type":"debug","z":"49b8f24f.9ccb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1500,"y":480,"wires":[]},{"id":"d219350a.9aaa68","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4643897b.55e1f8","type":"ui_group","name":"Data","tab":"c6dd8c4c.c01b8","order":2,"disp":true,"width":16,"collapse":false},{"id":"4d5ceb4d.1d1184","type":"ui_group","name":"Estado Automatico","tab":"c6dd8c4c.c01b8","order":1,"disp":true,"width":4,"collapse":false},{"id":"9c04d4b0.b8d7e8","type":"ui_group","name":"Actuador","tab":"c6dd8c4c.c01b8","order":3,"disp":true,"width":"4","collapse":false},{"id":"46a13868.eee918","type":"mqtt-broker","name":"nubeyon","broker":"m15.cloudmqtt.com","port":"17068","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"5d8e5d18.c02234","type":"MySQLdatabase","name":"webdb","host":"127.0.0.1","port":"5522","db":"elhuyfph_dbhydroponic","tz":"","charset":"UTF8"},{"id":"d1f5f78c.b04e28","type":"modbus-client","name":"adaptador-usb","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"2","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"c6dd8c4c.c01b8","type":"ui_tab","name":"SistemaHidroponico","icon":"dashboard","order":1,"disabled":false,"hidden":false}]